body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 656px;
}

.square{
    height: 80px;
    width: 80px;
    background-color: green;
    border: 1px solid black;
}